/* 2022-99-99 iwai-miki add str */
@charset "UTF-8";



/*出勤関連コンテンツ*/
.search-group {
    display: block;
    display: inline-block;
    /*text-align: center;*/
    /*margin: 20px;*/
}

.search-input {
    margin-right: 20px
}

.search-label {
    margin-right: 5px
}

.search-group input[type="button"] {
    font-size: 16px;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    padding: 0.5rem;
    border-radius: .6rem;
    border: none;
    text-align: center;
    color: #FFF;
    letter-spacing: .1rem;
    /*2023-02-01 iwai-shibuya del str*/
    /*box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);*/
    /*2023-02-01 iwai-shibuya del end*/
    position: relative;
    background-color: #FFB344;
}

    .search-group input[type="button"]:active {
        /*2023-02-01 iwai-shibuya upd str*/
        box-shadow: 0px 0px 5px 2px #FFC877;
        /*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);*/
        /*2023-02-01 iwai-shibuya upd end*/
    }



/*退勤関連コンテンツ*/
.download-group {
    display: inline;
}

    .download-group input[type="button"] {
        font-size: 16px;
        width: 120px;
        height: 30px;
        border-radius: .6rem;
        border: none;
        text-align: center;
        color: #FFF;
        letter-spacing: .1rem;
        /*box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);*/
        position: relative;
        border: 2px solid #00A19D;
        color: #00A19D;
        background-color: #EEE;
        background-color: #FFF8E5;
        background-color: #FFF;
    }

        .download-group input[type="button"]:active {
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
        }

        .download-group input[type="button"]:hover {
            background-color: #00A19D;
            color: #fff;
        }
