@charset "UTF-8";

/*検索条件*/
.search-group {
    display: block;
    display: inline-block;
}

.search-input {
    margin-right: 10px
}

.search-label {
    margin-right: 5px
}

/*検索ボタン*/
.search-group input[type="button"] {
    font-size: 16px;
    width: 100px;
    height: 30px;
    margin-left: 15px;
    padding: 0.5rem;
    border-radius: .6rem;
    border: none;
    text-align: center;
    color: #FFF;
    letter-spacing: .1rem;
    position: relative;
    background-color: #FFB344;
}

.search-group input[type="button"]:active {
    box-shadow: 0px 0px 5px 2px #FFC877;
}



/*ダウンロードボタン*/
.download-group {
    display: inline;
}

.download-group input[type="button"] {
    font-size: 16px;
    width: 120px;
    height: 30px;
    border-radius: .6rem;
    border: none;
    text-align: center;
    color: #FFF;
    letter-spacing: .1rem;
    position: relative;
    border: 2px solid #00A19D;
    color: #00A19D;
    background-color: #EEE;
    background-color: #FFF8E5;
    background-color: #FFF;
}

.download-group input[type="button"]:active {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
}

.download-group input[type="button"]:hover {
    background-color: #00A19D;
    color: #fff;
}
