
/*2022-12-14 iwai-shibuya add str*/
form.change_form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 560px;
    margin: 50px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    form.change_form h1, form p {
        font-weight: 800;
    }

    form.change_form p.operation1 {
        font-size: 20px;
        margin: 10px auto 2px auto;
        color: #D83232;
    }

    form.change_form p.operation2 {
        font-size: 20px;
        margin: 2px auto;
        color: #D83232;
    }

    form.change_form p.terms {
        font-size: 12px;
        margin: 10px auto;
        color: #B42323;
    }

div.change_form_top {
    padding: 12px;
    border-bottom: 1px dashed #bec2c7;
}

Password-group.text-NewPassword {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}

form input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #FFB344;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: #666;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

    form input[type = "submit"]:hover {
        background-color: #FFB344;
        border: 2px solid #FFB344;
        left: 80%;
    }

h2 {
    margin: 15px 20px 20px 50px;
    /*   border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;*/
}

form input[type = "text"], form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
    font-size: 15px;
    color: #555;
}

    form input[type = "text"]:focus, form input[type = "password"]:focus {
        width: 280px;
        background-color: #E8F0FE;
        border: 2px solid #00A19D;
    }

button#dmychange.btn-pass {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #FFB344;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: #666;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

    button#dmychange.btn-pass:hover {
        background-color: #FFB344;
        border: 2px solid #FFB344;
        left: 80%;
    }
/*2022-12-14 iwai-shibuya add str*/

/*2022-99-99 iwai-shibuya add */
/*form.login_form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 560px;
    margin: 50px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form.login_form h1, form p {
    font-weight: 800;
}
    form.login_form p {
        font-size: 20px;
        margin: 5px auto;
    }
section div {
    padding: 12px;
    border-bottom: 1px dashed #bec2c7;
}

Password-group.text-NewPassword {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}*/
/*        form input[type = "text"]:focus, form input[type = "password"]:focus {
            width: 280px;
            background-color: #00A19D;
        }*/
    /*form input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        border: 2px solid #FFB344;
        padding: 15px 10px;
        width: 200px;
        outline: none;
        color: #666;
        border-radius: 25px;
        transition: 0.25s;
        text-align: center;
        cursor: pointer;
    }
        form input[type = "submit"]:hover {
            background-color: #FFB344;
            border: 2px solid #FFB344;
            left: 80%;
        }
h2 {
    margin: 15px 20px 20px 50px;*/
    /*   border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;*/
/*}


.pass-input {
    font-size: 15px;
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}
form input[type = "text"], form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    border: 2px solid #00A19D;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
    font-size: 15px;
    color: #555;
}

    form input[type = "text"]:focus, form input[type = "password"]:focus {
        width: 280px;
        background-color: #E8F0FE;
        border: 2px solid #00A19D;
    }

button#dmychange.btn-pass {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #FFB344;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: #666;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

button#dmychange.btn-pass:hover {
    background-color: #FFB344;
    border: 2px solid #FFB344;
    left: 80%;
}*/
/*2022-99-99 iwai-shibuya add */
